@import "@/app.less";

.time_screen {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background: #ffffff;
  font-size: 14rpx;
}

.time_wrap {
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  padding: 0 60rpx;
}

.time_item {
  flex: 1;
  margin: 0 10rpx;
  /* width: 40rpx; */
  height: 200rpx;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: #fdfaf3;
  border-radius: 20rpx;
  font-weight: 700;
  font-size: 70rpx;
}

.goback_control {
  position: fixed;
  top: 14rpx;
  left: 20rpx;
}

.controls_wrap {
  position: fixed;
  bottom: @safe-bottom;
  left: 20rpx;
}

.controls_item {
  margin: 0 20rpx 0 0;
}
